.main-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}
.all-item{
    padding: 20px;
    text-align: center;
    width: 400px;
}
.icon-size{
    font-size: 50px;
    color: blue;
}
p{
    font-size: 20px;
}